<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position: fixed;
            left: 0;
            top: 0;
            right:0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }
        .model{
            z-index: 1000;
            position: fixed;
            left: 50%;
            top:50%;
            height: 300px;
            width: 400px;
            background-color: white;
            margin-left: -200px;
            margin-top: -150px;
        }
    </style>
</head>
<body>
<h1>班级列表</h1>
<div>
    <a href="/add_class/">添加</a>
    <a onclick="showModal();">对话框添加</a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>班级名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for row in class_list  %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.title }}</td>
            <td><a href="/edit_class/?nid={{ row.id }}">编辑</a>
                |
                <a onclick="ModalEdit(this);">对话框编辑</a>
                |
            <a href="/del_class/?nid={{ row.id }}">删除</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<div id="shadow" class="shadow hide" ></div>
<div id="model" class="model hide" >
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

        <p>
           班级名称 <input id="title" type="text" name="title"/>
        </p>
    <input type="submit" value="提交" onclick="AjaxSend();"/> <span id="errormsg"></span>
    <input type="submit" value="取消" onclick="CancelModal();"/>


</div>


<div id="EditModal" class="model hide" >
    <h3>编辑框</h3>
        <p>
             <input id="EditId" type="text" name="id" style="display: none"/>
            班级名称 <input id="EditTitle" type="text" name="title"/>
        </p>
    <input type="submit" value="提交" onclick="editAjaxSend();"/> <span id="errormsg"></span>
    <input type="submit" value="取消" onclick="CancelModal();"/>


</div>




</body>
<script>
    function showModal(){
        document.getElementById('shadow').classList.remove('hide')
        document.getElementById('model').classList.remove('hide')

    }

    function CancelModal(){
        document.getElementById('shadow').classList.add('hide')
        document.getElementById('model').classList.add('hide')
        document.getElementById('EditModal').classList.add('hide')

    }

    function AjaxSend(){
        $.ajax({
            url:'/modal_add_class/',
            type:'POST',
            data:{'title':$("#title").val()},
            success:function (data) {
                //当服务端处理完成后，返回数据时该函数自动调用，data表示服务端返回的值
                console.log(data);
                if (data == "ok"){
                    location.href='/classes/';
                } else{
                    $('#errormsg').text(data);
                }
            }
        })
    }

    function ModalEdit(ths) {
        document.getElementById('shadow').classList.remove('hide')
        document.getElementById('EditModal').classList.remove('hide')
        //1.获取当前点击标签
        //2.获取当前标签的父标签，再找其上方标签
        //3.获取班级当前行，班级名称，赋值到对话框中
        var row = $(ths).parent().prevAll();
        var content = $(row[0]).text()
        $('#EditTitle').val(content);

        var contentid = $(row[1]).text()
        $('#EditId').val(contentid);
    }

    function editAjaxSend() {
        var nid = $('#EditId').val()
        var content = $('#EditTitle').val()
        console.log(nid,content)

        $.ajax({
            url:'/modal_edit_class/',
            type: 'POST',
            data:{'nid':nid,'content':content},
            success:function (arg) {
                //JSON.stringify()      //对象转变为字符串
                //JSON.parse()            //字符串转变为对象
                arg = JSON.parse(arg);
                if(arg.status){
                    location.reload()
                }else{
                    alert(arg.message);
                }
            }
        })

    }
</script>
</html>